.App-wrapper {
  background-color: whitesmoke;
  text-align: center;
  display: grid;
  grid-template-areas: 
  "header header"
  "navbar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-content {
  grid-area: content;
  margin: 1%;
  background-color: yellow;
}
